
.contenedor{
    align-content: center;
    margin:0 30px 0 30px;
    padding-top: 60px;
}

.contenido{
    grid-template-areas: "descrip descrip descrip"
                         "imagen parrafos parrafos"
                         "video video video";
    display: grid;
}
h2
{
    grid-area: header;
    display:block;
    margin:auto;
}

#descrip{
    grid-area: descrip;
}

#imagen{
    grid-area: imagen;
}
.parrafos{
    grid-area: parrafos;
}

.video{
    grid-area: video;
    display: block;
}

img{
    margin:auto;
    display: block;
    width: 350px;
}


